/* Rules for all web pages */

/* Parchment paper to make it look like a book, red because that is the color D&D primarily uses, and padding
body {
  background-color: rgb(234, 216, 193); 
  padding: 10px;
  font-family: Garamond, Times New Roman;
  text-align: center;
  background-image: url('images/gf.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;  
  background-size: cover;
}

/* Image style */
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

/* Header style */
header, h1, h2 {
  margin: 0px;
  background-color: #760000;
  padding: 10px;
  text-align: center;
  font-family: Georgia, Times New Roman;
  animation-name: headAnimation;
  animation-duration: 4s;
}

/* Header Animation */
@keyframes headAnimation {
  from {background-color: rgb(234, 216, 193);}
  to {background-color: #760000;}
}

/* Paragraph style */
p {
  padding: 20px 10px 20px 10px;
  width: 70%;
  font-size: 24px;
  font-weight: bold;
}

.conc p:last-child {
  border-style: solid;
  border-color: black;
}

cite {
  font-style: italic;
}

/* Navigation bar style */ 
nav ul {
  list-style-type: none;
  text-align: center;
  padding-left: 0px; 
}

/* Navigation item style */
nav li {
  display: inline-block;
  padding: 0px 4px 2px 4px;
  margin: 2px 4px 2px 4px;
  background-color: lightgoldenrodyellow; /*Golden buttons*/
  border: outset;
  border-color: goldenrod;
  font-size: 24px;
}
nav a {text-decoration: none;}

/* Rule to reduce space above header in home-page with iframe */
h2 {margin-top: -15px;}

/* Phone version */
@media screen and (max-width: 800px) {
  /* Simple Class selector for elements that are unnecessary for a compact screen */
  .comp {
    display: none;
  }
  /* Getting rid of the smaller width */
  p {
    width: 90%;
    font-size: 30px;
  }
  img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}
}
