/* Rules for all web pages */
body {
  display: grid;
  grid-template-area:
    "header header"
    "nav picture"
    "content content"
    "footer footer";
  grid-template-columns: 1fr 3fr;
  gap: 3px;
  background-color: rgb(234, 216, 193); 
  padding: 10px;
  font-family: Garamond, Times New Roman;
  text-align: center;
}

/* Header style */
header {
  margin: 0px;
  grid-area: header;
  background-color: red;
  padding: 10px;
  text-align: center;
  font-family: Georgia, Times New Roman;
  animation-name: headAnimation;
  animation-duration: 4s;
}

/* Header Animation */
@keyframes headAnimation {
  from {background-color: rgb(234, 216, 193);}
  to {background-color: red;}
}

/* Paragraph style */
p {
  background-color: rgb(200, 157, 124); /*Background earth brown*/
  padding: 20px 10px 20px 10px;
  margin: 20px 0px 20px 0px;
  font-size: 24px;
  font-weight: bold;
}
cite {
  font-style: italic;
}
/* Navigation bar style */ 
nav {grid-area: nav;}

nav ul {
  list-style-type: none;
  text-align: center;
  padding-left: 0px; 
}

/* Navigation item style */
nav li {
  display: inline-block;
  padding: 0px 4px 2px 4px;
  margin: 2px 4px 2px 4px;
  background-color: lightgoldenrodyellow; /*Golden buttons*/
  border: outset;
  border-color: goldenrod;
  font-size: 24px;
}
nav a {text-decoration: none;}

/* Images style */
figure {
  grid-area: picture;
}

/* Content style */
.content {
  grid-area: content;
}

/* Footer style */
footer {
  grid-area: footer;
}

/* Rule to reduce space above header in home-page with iframe */
h2 {margin-top: -15px;}
