/* Rules for all web pages */
body {
  background-color: rgb(234, 216, 193); 
  padding: 10px;
  font-family: Garamond, Times New Roman;
  text-align: center;
}

/* Image style */
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

/* Header style */
header, h1, h2 {
  margin: 0px;
  background-color: red;
  padding: 10px;
  text-align: center;
  font-family: Georgia, Times New Roman;
  animation-name: headAnimation;
  animation-duration: 4s;
}

/* Header Animation */
@keyframes headAnimation {
  from {background-color: rgb(234, 216, 193);}
  to {background-color: red;}
}

/* Paragraph style */
p {
  background-color: rgb(200, 157, 124); /*Background earth brown*/
  padding: 20px 10px 20px 10px;
  margin: 80px 300px 80px 300px;
  font-size: 24px;
  font-weight: bold;
}
p:last-child {
  border: 3px solid black;
}
cite {
  font-style: italic;
}
/* Navigation bar style */ 
nav ul {
  list-style-type: none;
  text-align: center;
  padding-left: 0px; 
}

/* Navigation item style */
nav li {
  display: inline-block;
  padding: 0px 4px 2px 4px;
  margin: 2px 4px 2px 4px;
  background-color: lightgoldenrodyellow; /*Golden buttons*/
  border: outset;
  border-color: goldenrod;
  font-size: 24px;
}
nav a {text-decoration: none;}

/* Rule to reduce space above header in home-page with iframe */
h2 {margin-top: -15px;}

/* Phone version */
@media screen and (max-width: 600px) {
  .comp {
    display: none;
  }
  p {
    margin: 20px 10px 20px 10px;
    font-size: 30px;
  }
  img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}
}
